/dxflib-old/config.guess
/dxflib-old/config.log
/dxflib-old/config.status
/dxflib-old/config.sub
/dxflib-old/configure
/dxflib-old/configure.in
/dxflib-old/dxflib_commercial_license.txt
/dxflib-old/dxflib.pro
/dxflib-old/install-sh
/dxflib-old/lib/libdxflib.a
/dxflib-old/Makefile
/dxflib-old/Makefile.in
/dxflib-old/src/dl_attributes.h
/dxflib-old/src/dl_codes.h
/dxflib-old/src/dl_creationadapter.h
/dxflib-old/src/dl_creationinterface.h
/dxflib-old/src/dl_dxf.cpp
/dxflib-old/src/dl_dxf.h
/dxflib-old/src/dl_dxf.o
/dxflib-old/src/dl_entities.h
/dxflib-old/src/dl_exception.h
/dxflib-old/src/dl_extrusion.h
/dxflib-old/src/dl_writer_ascii.cpp
/dxflib-old/src/dl_writer_ascii.h
/dxflib-old/src/dl_writer_ascii.o
/dxflib-old/src/dl_writer.h
/dxflib-old/test/3dface.dxf
/dxflib-old/test/demo.dxf
/dxflib-old/test/main.cpp
/dxflib-old/test/Makefile
/dxflib-old/test/Makefile.in
/dxflib-old/test/myfile.dxf
/dxflib-old/test/test_creationclass.cpp
/dxflib-old/test/test_creationclass.h
